{% extends "base.html" %}

{% block content %}


<div class="container">
	{% for news_article in news_articles %}
	<div class="card mt-3 mb-3">
		<h3 class="card-header"> <a href={{news_article.link}}>{{ news_article.title }}</a></h3>
		<div class="card-body">
			<p class="card-text">{{ news_article.description }}</p>
			<div class="card-footer text-muted">
				<div class="row">
					<div class="col">
						{{ news_article.link }}
					</div>
					<div>
						{{ news_article.displayDate}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}