{% extends "base.html" %}

{% block content %}
<div class="container" id="historical_plot">
	<h2>Plot of Historical Data: Last Updated on {{last_updated}}</h2>
	<div id="historical_chart" class="chart">
		<script>
			var graphDiv = document.getElementById('historical_chart')
			var historical_graphs = {{historical_plot | safe}};
			Plotly.plot(graphDiv, historical_graphs, {});
		</script>
	</div>
</div>

<div class="container">
	<h2>Simulation of Virus</h2>
</div>


<!-- Form with sliders to manually tune model -->
<div class="container">
	<form name="simulate_form" action="/simulation">
		<div class="row">
			<div class="col-sm">
				<p>Reproduction Number</p>
			    <input type="range" name="r_0" id="r_0_id" value="{{R_0}}" min="0" max="10" step="0.05" oninput="r_0_out_id.value = r_0_id.value">
			    <output name="r_0_out" id="r_0_out_id">{{R_0}}</output>
			</div>
			<div class="col-sm">
			    <p>Incubation Period</p>
			    <input type="range" name="inc_per" id="inc_per_id" value="{{inc_per}}" min="0" max="31" oninput="inc_per_out_id.value = inc_per_id.value">
			    <output name="inc_per_out" id="inc_per_out_id">{{inc_per}}</output>
			</div>
			<div class="col-sm">
			    <p>Recovery Time</p>
			    <input type="range" name="rec_time" id="rec_time_id" value="{{rec_time}}" min="0" max="31" oninput="rec_time_out_id.value = rec_time_id.value">
			    <output name="rec_time_out" id="rec_time_out_id">{{rec_time}}</output>
			</div>
			<div class="col-sm">
			    <p>Time Steps</p>
			    <input type="range" name="time_steps" id="time_steps_id" value="{{time_steps}}" min="1" max="730" oninput="time_steps_out_id.value = time_steps_id.value">
			    <output name="time_steps_out" id="time_steps_out_id">{{time_steps}}</output>
			</div>
		</div>
		<div class="mt-3 d-flex justify-content-start">
			<button type="submit" class="btn btn-primary">Simulate</button>
		</div>
	</form>
</div>

<div class="container" id="simulation_plot">
	<div id="simulation_chart" class="chart">
		<script>
			var graphDiv = document.getElementById('simulation_chart')
			var simulation_graphs = {{simulation_plot | safe}};
			Plotly.plot(graphDiv, simulation_graphs, {});
		</script>
	</div>
</div>
{% endblock %}