{% extends "base.html" %}

{% block content %}
<div class="container d-flex">
	<div class="justify-content-start">
		<button type="button" id="historical_btn" class="btn btn-primary btn-lg mr-3">Historical Data</button>
		<button type="button" id="forecast_btn" class="btn btn-primary btn-lg ml-3 mr-3">Simulation</button>
		<button type="button" id="tuning_btn" class="btn btn-primary btn-lg ml-3 mr-3">Tuning</button>
	</div>
</div>

<hr>

<div class="container" id="slider_form_container"></div>
<div class="container mt-2" id="historical_plot">
	<h2 id="plot_title">Plot of Historical Data (Last Updated : {{last_updated}})</h2>
	<div id="historical_chart" class="chart">
		<script>
        	var graphDiv = document.getElementById('historical_chart');
        	var graphs = {{plot | safe}};
        	Plotly.plot(graphDiv,graphs,{});
    	</script>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{url_for('static',filename='script.js')}}" type="text/javascript"></script>
{% endblock %}